src/main/resources/tcn.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema targetNamespace="urn:eu.cec.tren.tcn" xmlns:tcn="urn:eu.cec.tren.tcn" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation xml:lang="en">Updated version 1.41 - XML Schema generated by the Robinator. Copyright (c) 2003 Getronics N.V. Email: robin.harmegnies@getronics.com Http://www.getronics.com/</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="TCN_Receipt" type="tcn:TCN_ReceiptType"/>
	<xsd:element name="MS2TCN_CheckIssuedCards_Req" type="tcn:MS2TCN_CheckIssuedCards_ReqType"/>
	<xsd:element name="TCN2MS_CheckIssuedCards_Req" type="tcn:TCN2MS_CheckIssuedCards_ReqType"/>
	<xsd:element name="MS2TCN_CheckIssuedCards_Res" type="tcn:MS2TCN_CheckIssuedCards_ResType"/>
	<xsd:element name="TCN2MS_CheckIssuedCards_Res" type="tcn:TCN2MS_CheckIssuedCards_ResType"/>
	<xsd:element name="MS2TCN_CheckCardStatus_Req" type="tcn:MS2TCN_CheckCardStatus_ReqType"/>
	<xsd:element name="TCN2MS_CheckCardStatus_Req" type="tcn:TCN2MS_CheckCardStatus_ReqType"/>
	<xsd:element name="MS2TCN_CheckCardStatus_Res" type="tcn:MS2TCN_CheckCardStatus_ResType"/>
	<xsd:element name="TCN2MS_CheckCardStatus_Res" type="tcn:TCN2MS_CheckCardStatus_ResType"/>
	<xsd:element name="MS2TCN_ModCardStatus_Req" type="tcn:MS2TCN_ModCardStatus_ReqType"/>
	<xsd:element name="TCN2MS_ModCardStatus_Req" type="tcn:TCN2MS_ModCardStatus_ReqType"/>
	<xsd:element name="MS2TCN_ModCardStatus_Res" type="tcn:MS2TCN_ModCardStatus_ResType"/>
	<xsd:element name="TCN2MS_ModCardStatus_Res" type="tcn:TCN2MS_ModCardStatus_ResType"/>
	<xsd:element name="MS2TCN_IssuedCardDL_Req" type="tcn:MS2TCN_IssuedCardDL_ReqType"/>
	<xsd:element name="MS2TCN_IssuedCardDL_Res" type="tcn:MS2TCN_IssuedCardDL_ResType"/>
	<xsd:element name="TCN2MS_IssuedCardDL_Req" type="tcn:TCN2MS_IssuedCardDL_ReqType"/>
	<xsd:element name="TCN2MS_IssuedCardDL_Res" type="tcn:TCN2MS_IssuedCardDL_ResType"/>
	<xsd:complexType name="HeaderType" abstract="true">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence/>
		<xsd:attribute name="Version" type="xsd:string" use="required" fixed="1.4"/>
		<xsd:attribute name="TestId" type="xsd:string"/>
		<xsd:attribute name="SentAt" type="xsd:dateTime" use="required"/>
		<xsd:attribute name="From" type="xsd:string" use="required"/>
		<xsd:attribute name="To" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Header_ResType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tcn:HeaderType">
				<xsd:sequence/>
				<xsd:attribute name="MSRefId" type="xsd:string" use="required"/>
				<xsd:attribute name="TCNRefId" type="xsd:string" use="required"/>
				<xsd:attribute name="StatusCode" type="tcn:StatusCodeEnumType" use="required"/>
				<xsd:attribute name="StatusMessage" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Header_TCN2MS_ReqType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tcn:HeaderType">
				<xsd:sequence/>
				<xsd:attribute name="TCNRefId" type="xsd:string" use="required"/>
				<xsd:attribute name="TimeoutValue" type="xsd:integer" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Header_MS2TCN_ReqType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tcn:HeaderType">
				<xsd:sequence/>
				<xsd:attribute name="MSRefId" type="xsd:string" use="required"/>
				<xsd:attribute name="TimeoutValue" type="xsd:integer" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="StatusCodeEnumType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="InvalidFormat"/>
			<xsd:enumeration value="Timeout"/>
			<xsd:enumeration value="ServerError"/>
			<xsd:enumeration value="OK"/>
			<xsd:enumeration value="NotAvailable"/>
			<xsd:enumeration value="AccessDenied"/>
			<xsd:enumeration value="TooManyRequests"/>
			<xsd:enumeration value="NotYetConnected"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CardStatusCodeEnumType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="Application"/>
			<xsd:enumeration value="Approved"/>
			<xsd:enumeration value="Personalised"/>
			<xsd:enumeration value="Dispatched"/>
			<xsd:enumeration value="HandedOver"/>
			<xsd:enumeration value="Confiscated"/>
			<xsd:enumeration value="Suspended"/>
			<xsd:enumeration value="Withdrawn"/>
			<xsd:enumeration value="Surrendered"/>
			<xsd:enumeration value="Lost"/>
			<xsd:enumeration value="Stolen"/>
			<xsd:enumeration value="Malfunctioning"/>
			<xsd:enumeration value="Expired"/>
			<xsd:enumeration value="Replaced"/>
			<xsd:enumeration value="Renewed"/>
			<xsd:enumeration value="InExchange"/>
			<xsd:enumeration value="Exchanged"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CIC_MS2TCN_SearchStatusCodeEnumType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="Found"/>
			<xsd:enumeration value="NotFound"/>
			<xsd:enumeration value="Timeout"/>
			<xsd:enumeration value="ServerError"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DLStatusCodeEnumType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="Valid"/>
			<xsd:enumeration value="Invalid"/>
			<xsd:enumeration value="NotFound"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MSStatusCodeEnumType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="Found"/>
			<xsd:enumeration value="NotFound"/>
			<xsd:enumeration value="Timeout"/>
			<xsd:enumeration value="ServerError"/>
			<xsd:enumeration value="NotAvailable"/>
			<xsd:enumeration value="NotYetConnected"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CCS_MS2TCN_SearchStatusCodeEnumType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="Found"/>
			<xsd:enumeration value="NotFound"/>
			<xsd:enumeration value="Timeout"/>
			<xsd:enumeration value="ServerError"/>
			<xsd:enumeration value="WorkshopCardStatusNotAvailable"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CCS_TCN2MS_SearchStatusCodeEnumType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="Found"/>
			<xsd:enumeration value="NotFound"/>
			<xsd:enumeration value="Timeout"/>
			<xsd:enumeration value="ServerError"/>
			<xsd:enumeration value="WorkshopCardStatusNotAvailable"/>
			<xsd:enumeration value="NotAvailable"/>
			<xsd:enumeration value="NotYetConnected"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ICDL_MS2TCN_StatusCodeEnumType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="OK"/>
			<xsd:enumeration value="DrivingLicenseNumberNotFound"/>
			<xsd:enumeration value="Timeout"/>
			<xsd:enumeration value="ServerError"/>
			<xsd:enumeration value="NotProcessed"/>
			<xsd:enumeration value="DrivingLicenseNumberInvalid"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ICDL_TCN2MS_StatusCodeEnumType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="OK"/>
			<xsd:enumeration value="DrivingLicenseNumberNotFound"/>
			<xsd:enumeration value="Timeout"/>
			<xsd:enumeration value="ServerError"/>
			<xsd:enumeration value="NotProcessed"/>
			<xsd:enumeration value="NotAvailable"/>
			<xsd:enumeration value="NotYetConnected"/>
			<xsd:enumeration value="DrivingLicenseNumberInvalid"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NewCardStatusCodeEnumType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="HandedOver"/>
			<xsd:enumeration value="Confiscated"/>
			<xsd:enumeration value="Suspended"/>
			<xsd:enumeration value="Withdrawn"/>
			<xsd:enumeration value="Lost"/>
			<xsd:enumeration value="Stolen"/>
			<xsd:enumeration value="Malfunctioning"/>
			<xsd:enumeration value="InExchange"/>
			<xsd:enumeration value="Exchanged"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MCS_MS2TCN_StatusCodeEnumType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="OK"/>
			<xsd:enumeration value="CardNumberNotFound"/>
			<xsd:enumeration value="CardStatusInvalid"/>
			<xsd:enumeration value="Timeout"/>
			<xsd:enumeration value="ServerError"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MCS_TCN2MS_StatusCodeEnumType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="OK"/>
			<xsd:enumeration value="CardNumberNotFound"/>
			<xsd:enumeration value="CardStatusInvalid"/>
			<xsd:enumeration value="Timeout"/>
			<xsd:enumeration value="ServerError"/>
			<xsd:enumeration value="NotAvailable"/>
			<xsd:enumeration value="NotYetConnected"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MCS_ReasonCodeEnumType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="None"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CIC_TCN2MS_SearchStatusCodeEnumType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="Found"/>
			<xsd:enumeration value="NotFound"/>
			<xsd:enumeration value="Timeout"/>
			<xsd:enumeration value="ServerError"/>
			<xsd:enumeration value="NotAvailable"/>
			<xsd:enumeration value="NotYetConnected"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="TCN_ReceiptType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Header" type="tcn:Header_ResType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MS2TCN_CheckIssuedCards_ReqType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Header" type="tcn:Header_MS2TCN_ReqType"/>
			<xsd:element name="Body" type="tcn:MS2TCN_CheckIssuedCards_ReqBodyType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MS2TCN_CheckIssuedCards_ReqBodyType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SearchedDriver" type="tcn:SearchedDriver_MS2TCN_ReqType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SearchedDriverType" abstract="true">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence/>
		<xsd:attribute name="Surname" type="xsd:string" use="required"/>
		<xsd:attribute name="FirstName" type="xsd:string" use="required"/>
		<xsd:attribute name="BirthDate" type="tcn:YYYY-MM-DDSpecialStringType" use="required"/>
		<xsd:attribute name="PlaceOfBirth" type="xsd:string"/>
		<xsd:attribute name="DrivingLicenseNumber" type="xsd:string"/>
		<xsd:attribute name="DrivingLicenseIssuingNation" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="SearchedDriver_MS2TCN_ReqType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tcn:SearchedDriverType">
				<xsd:sequence/>
				<xsd:attribute name="IssuingMemberStateCode" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SearchedDriver_TCN2MS_ResType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tcn:SearchedDriver_MS2TCN_ReqType">
				<xsd:sequence>
					<xsd:element name="MemberState" type="tcn:MemberStateType" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="SearchStatusCode" type="tcn:CIC_TCN2MS_SearchStatusCodeEnumType" use="required"/>
				<xsd:attribute name="SearchStatusMessage" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SearchedDriver_TCN2MS_ReqType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tcn:SearchedDriverType">
				<xsd:sequence/>
				<xsd:attribute name="SurnameSearchKey" type="xsd:string" use="required"/>
				<xsd:attribute name="FirstNameSearchKey" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SearchedDriver_MS2TCN_ResType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tcn:SearchedDriver_TCN2MS_ReqType">
				<xsd:sequence>
					<xsd:element name="DriverDetails" type="tcn:DriverDetailsCICType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="SearchStatusCode" type="tcn:CIC_MS2TCN_SearchStatusCodeEnumType" use="required"/>
				<xsd:attribute name="SearchStatusMessage" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TCN2MS_CheckIssuedCards_ReqType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Header" type="tcn:Header_TCN2MS_ReqType"/>
			<xsd:element name="Body" type="tcn:TCN2MS_CheckIssuedCards_ReqBodyType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TCN2MS_CheckIssuedCards_ReqBodyType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SearchedDriver" type="tcn:SearchedDriver_TCN2MS_ReqType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MS2TCN_CheckIssuedCards_ResType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Header" type="tcn:Header_ResType"/>
			<xsd:element name="Body" type="tcn:MS2TCN_CheckIssuedCards_ResBodyType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MS2TCN_CheckIssuedCards_ResBodyType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SearchedDriver" type="tcn:SearchedDriver_MS2TCN_ResType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TCN2MS_CheckIssuedCards_ResType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Header" type="tcn:Header_ResType"/>
			<xsd:element name="Body" type="tcn:TCN2MS_CheckIssuedCards_ResBodyType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TCN2MS_CheckIssuedCards_ResBodyType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SearchedDriver" type="tcn:SearchedDriver_TCN2MS_ResType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MS2TCN_CheckCardStatus_ReqType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Header" type="tcn:Header_MS2TCN_ReqType"/>
			<xsd:element name="Body" type="tcn:MS2TCN_CheckCardStatus_ReqBodyType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MS2TCN_CheckCardStatus_ReqBodyType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SearchCriteria" type="tcn:SearchCriteria_MS2TCN_ReqType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SearchCriteriaType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence/>
		<xsd:attribute name="CardNumber" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="SearchCriteria_MS2TCN_ReqType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tcn:SearchCriteriaType">
				<xsd:sequence/>
				<xsd:attribute name="IssuingMemberStateCode" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SearchCriteria_MS2TCN_ResType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tcn:SearchCriteriaType">
				<xsd:sequence>
					<xsd:element name="CardDetails" type="tcn:CardDetailsCCSType" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute name="SearchStatusCode" type="tcn:CCS_MS2TCN_SearchStatusCodeEnumType" use="required"/>
				<xsd:attribute name="SearchStatusMessage" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SearchCriteria_TCN2MS_ResType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tcn:SearchCriteria_MS2TCN_ReqType">
				<xsd:sequence>
					<xsd:element name="MSContactInfo" type="tcn:MSContactInfoType" minOccurs="0"/>
					<xsd:element name="CardDetails" type="tcn:CardDetailsCCSType" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute name="SearchStatusCode" type="tcn:CCS_TCN2MS_SearchStatusCodeEnumType" use="required"/>
				<xsd:attribute name="SearchStatusMessage" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TCN2MS_CheckCardStatus_ReqType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Header" type="tcn:Header_TCN2MS_ReqType"/>
			<xsd:element name="Body" type="tcn:TCN2MS_CheckCardStatus_ReqBodyType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TCN2MS_CheckCardStatus_ReqBodyType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SearchCriteria" type="tcn:SearchCriteriaType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MS2TCN_CheckCardStatus_ResType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Header" type="tcn:Header_ResType"/>
			<xsd:element name="Body" type="tcn:MS2TCN_CheckCardStatus_ResBodyType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MS2TCN_CheckCardStatus_ResBodyType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SearchCriteria" type="tcn:SearchCriteria_MS2TCN_ResType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TCN2MS_CheckCardStatus_ResType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Header" type="tcn:Header_ResType"/>
			<xsd:element name="Body" type="tcn:TCN2MS_CheckCardStatus_ResBodyType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TCN2MS_CheckCardStatus_ResBodyType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SearchCriteria" type="tcn:SearchCriteria_TCN2MS_ResType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MS2TCN_ModCardStatus_ReqType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Header" type="tcn:Header_MS2TCN_ReqType"/>
			<xsd:element name="Body" type="tcn:MS2TCN_ModCardStatus_ReqBodyType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MS2TCN_ModCardStatus_ReqBodyType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CardDetails" type="tcn:ModCardDetails_MS2TCN_ReqType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ModCardDetailsType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence/>
		<xsd:attribute name="CardNumber" type="xsd:string" use="required"/>
		<xsd:attribute name="NewCardStatus" type="tcn:NewCardStatusCodeEnumType" use="required"/>
		<xsd:attribute name="Reason" type="xsd:string"/>
		<xsd:attribute name="StatusModifiedAt" type="xsd:dateTime" use="required"/>
		<xsd:attribute name="ReasonCode" type="tcn:MCS_ReasonCodeEnumType"/>
	</xsd:complexType>
	<xsd:complexType name="ModCardDetails_MS2TCN_ReqType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tcn:ModCardDetailsType">
				<xsd:sequence>
					<xsd:element name="DeclaredBy" type="tcn:DeclaredByType"/>
				</xsd:sequence>
				<xsd:attribute name="IssuingMemberStateCode" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DeclaredByType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence/>
		<xsd:attribute name="Origin" type="xsd:string" use="required"/>
		<xsd:attribute name="Surname" type="xsd:string"/>
		<xsd:attribute name="FirstName" type="xsd:string"/>
		<xsd:attribute name="Phone" type="xsd:string"/>
		<xsd:attribute name="Fax" type="xsd:string"/>
		<xsd:attribute name="EMail" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="ModCardDetails_MS2TCN_ResType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tcn:ModCardDetails_TCN2MS_ReqType">
				<xsd:sequence/>
				<xsd:attribute name="ModStatusCode" type="tcn:MCS_MS2TCN_StatusCodeEnumType" use="required"/>
				<xsd:attribute name="ModStatusMessage" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ModCardDetails_TCN2MS_ResType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tcn:ModCardDetails_MS2TCN_ReqType">
				<xsd:sequence>
					<xsd:element name="MSContactInfo" type="tcn:MSContactInfoType" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute name="ModStatusCode" type="tcn:MCS_TCN2MS_StatusCodeEnumType" use="required"/>
				<xsd:attribute name="ModStatusMessage" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TCN2MS_ModCardStatus_ReqType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Header" type="tcn:Header_TCN2MS_ReqType"/>
			<xsd:element name="Body" type="tcn:TCN2MS_ModCardStatus_ReqBodyType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TCN2MS_ModCardStatus_ReqBodyType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CardDetails" type="tcn:ModCardDetails_TCN2MS_ReqType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MS2TCN_ModCardStatus_ResType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Header" type="tcn:Header_ResType"/>
			<xsd:element name="Body" type="tcn:MS2TCN_ModCardStatus_ResBodyType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MS2TCN_ModCardStatus_ResBodyType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CardDetails" type="tcn:ModCardDetails_MS2TCN_ResType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TCN2MS_ModCardStatus_ResType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Header" type="tcn:Header_ResType"/>
			<xsd:element name="Body" type="tcn:TCN2MS_ModCardStatus_ResBodyType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TCN2MS_ModCardStatus_ResBodyType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CardDetails" type="tcn:ModCardDetails_TCN2MS_ResType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DeclaredByMSType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tcn:DeclaredByType">
				<xsd:sequence/>
				<xsd:attribute name="MemberStateCode" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ModCardDetails_TCN2MS_ReqType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tcn:ModCardDetailsType">
				<xsd:sequence>
					<xsd:element name="DeclaredBy" type="tcn:DeclaredByMSType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MS2TCN_IssuedCardDL_ReqType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Header" type="tcn:Header_MS2TCN_ReqType"/>
			<xsd:element name="Body" type="tcn:MS2TCN_IssuedCardDL_ReqBodyType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MS2TCN_IssuedCardDL_ReqBodyType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IssuedCard" type="tcn:IssuedCard_MS2TCN_ReqType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IssuedCardType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence/>
		<xsd:attribute name="IssuedCardNumber" type="xsd:string" use="required"/>
		<xsd:attribute name="IssuingMemberStateCode" type="xsd:string" use="required"/>
		<xsd:attribute name="DrivingLicenseNumber" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="IssuedCard_MS2TCN_ReqType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tcn:IssuedCardType">
				<xsd:sequence/>
				<xsd:attribute name="DrivingLicenseIssuingNation" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IssuedCard_MS2TCN_ResType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tcn:IssuedCardType">
				<xsd:sequence/>
				<xsd:attribute name="IssuedCardDLStatusCode" type="tcn:ICDL_MS2TCN_StatusCodeEnumType" use="required"/>
				<xsd:attribute name="IssuedCardDLStatusMessage" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IssuedCard_TCN2MS_ResType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tcn:IssuedCard_MS2TCN_ReqType">
				<xsd:sequence>
					<xsd:element name="MSContactInfo" type="tcn:MSContactInfoType" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute name="IssuedCardDLStatusCode" type="tcn:ICDL_TCN2MS_StatusCodeEnumType" use="required"/>
				<xsd:attribute name="IssuedCardDLStatusMessage" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MS2TCN_IssuedCardDL_ResType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Header" type="tcn:Header_ResType"/>
			<xsd:element name="Body" type="tcn:MS2TCN_IssuedCardDL_ResBodyType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MS2TCN_IssuedCardDL_ResBodyType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IssuedCard" type="tcn:IssuedCard_MS2TCN_ResType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TCN2MS_IssuedCardDL_ReqType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Header" type="tcn:Header_TCN2MS_ReqType"/>
			<xsd:element name="Body" type="tcn:TCN2MS_IssuedCardDL_ReqBodyType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TCN2MS_IssuedCardDL_ReqBodyType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IssuedCard" type="tcn:IssuedCardType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TCN2MS_IssuedCardDL_ResType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Header" type="tcn:Header_ResType"/>
			<xsd:element name="Body" type="tcn:TCN2MS_IssuedCardDL_ResBodyType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TCN2MS_IssuedCardDL_ResBodyType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IssuedCard" type="tcn:IssuedCard_TCN2MS_ResType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DrivingLicenseDetailsType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence/>
		<xsd:attribute name="DLNumber" type="xsd:string" use="required"/>
		<xsd:attribute name="DLIssuingNation" type="xsd:string" use="required"/>
		<xsd:attribute name="DLStatus" type="tcn:DLStatusCodeEnumType"/>
		<xsd:attribute name="DLIssueDate" type="xsd:date"/>
	</xsd:complexType>
	<xsd:complexType name="CardDetailsType" abstract="true">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence/>
		<xsd:attribute name="AdditionalCardStatus" type="tcn:CardStatusCodeEnumType"/>
		<xsd:attribute name="CIA" type="xsd:string" use="required"/>
		<xsd:attribute name="StatusModifiedAt" type="xsd:dateTime" use="required"/>
		<xsd:attribute name="AdditionalStatusModifiedAt" type="xsd:dateTime"/>
	</xsd:complexType>
	<xsd:complexType name="CardDetailsCCSType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tcn:CardDetailsType">
				<xsd:sequence>
					<xsd:group ref="tcn:anon1"/>
				</xsd:sequence>
				<xsd:attribute name="CardStatus" type="tcn:CardStatusCodeEnumType" use="required"/>
				<xsd:attribute name="StartOfValidityDate" type="xsd:date" use="required"/>
				<xsd:attribute name="ExpiryDate" type="xsd:date" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CardDetailsCICType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tcn:CardDetailsType">
				<xsd:sequence/>
				<xsd:attribute name="CardNumber" type="xsd:string"/>
				<xsd:attribute name="CardStatus" type="tcn:CardStatusCodeEnumType" use="required"/>
				<xsd:attribute name="StartOfValidityDate" type="xsd:date"/>
				<xsd:attribute name="ExpiryDate" type="xsd:date"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WorkshopDetailsType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence/>
		<xsd:attribute name="WorkshopName" type="xsd:string" use="required"/>
		<xsd:attribute name="WorkshopAddress" type="xsd:string" use="required"/>
		<xsd:attribute name="Surname" type="xsd:string"/>
		<xsd:attribute name="FirstName" type="xsd:string"/>
		<xsd:attribute name="BirthDate" type="xsd:string"/>
	</xsd:complexType>
	<xsd:group name="anon1">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="WorkshopDetails" type="tcn:WorkshopDetailsType"/>
			<xsd:element name="DriverDetails" type="tcn:DriverDetailsCCSType"/>
		</xsd:choice>
	</xsd:group>
	<xsd:complexType name="MemberStateType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="MSContactInfo" type="tcn:MSContactInfoType" minOccurs="0"/>
			<xsd:element name="DriverDetails" type="tcn:DriverDetailsCICType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="MemberStateCode" type="xsd:string" use="required"/>
		<xsd:attribute name="MSStatusCode" type="tcn:MSStatusCodeEnumType" use="required"/>
		<xsd:attribute name="MSStatusMessage" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="MSContactInfoType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence/>
		<xsd:attribute name="Phone" type="xsd:string"/>
		<xsd:attribute name="Fax" type="xsd:string"/>
		<xsd:attribute name="EMail" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="DriverDetailsType" abstract="true">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:sequence/>
		<xsd:attribute name="Surname" type="xsd:string" use="required"/>
		<xsd:attribute name="FirstName" type="xsd:string" use="required"/>
		<xsd:attribute name="BirthDate" type="tcn:YYYY-MM-DDSpecialStringType" use="required"/>
		<xsd:attribute name="PlaceOfBirth" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="DriverDetailsCICType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tcn:DriverDetailsType">
				<xsd:sequence>
					<xsd:element name="DrivingLicenseDetails" type="tcn:DrivingLicenseDetailsType" minOccurs="0"/>
					<xsd:element name="CardDetails" type="tcn:CardDetailsCICType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DriverDetailsCCSType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en"/>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tcn:DriverDetailsType">
				<xsd:sequence>
					<xsd:element name="DrivingLicenseDetails" type="tcn:DrivingLicenseDetailsType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="YYYY-MM-DDSpecialStringType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Used to define a special date format allowing '00' as month or day value (e.g. 1965-00-00). It doesn't check leap year.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(19|20|21)[0-9]{2}-(00-00|02-[0-2][0-9]|(01|03|05|07|08|10|12)-([0-2][0-9]|3[0-1])|(04|06|09|11)-([0-2][0-9]|30))"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
